/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@700');

/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');

/* Utilities */
@import url(components/btn.css);
@import url(components/card.css);
@import url(components/footer.css);
body {
  margin: 0;
  font-family: Open Sans;
}

h1, h2, h3, h4 {
  font-family: Poppins;
}

a {
  text-decoration: none;
}

.center-text {
  text-align: center;
}
/* Custom design below! */
.container {
  width: 500px;
  margin: auto;
}

#banner {
  background-image: url(https://images.pexels.com/photos/7276723/pexels-photo-7276723.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
  background-size: cover;
  background-position: cover;
  padding: 150px 0;
}

#banner h1 {
  color: rgb(142, 200, 33);
  font-weight: bold;
  font-size: 50px;
}

#banner p {
  color: red;
  font-weight: 20px;
}
