.cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.card {
  width: 200;
  border-radius: 10px;
  text-align: center;
  padding: 15px;
  box-shadow: 5px 5px 5px;
}

.card img {
  height: 80px;
}

.card p {
  opacity: 0.2;
}
